@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Teko:wght@500&display=swap');

$initPos: 40%;
$wid: 15vw;
$ht: 40vh;
$fontSize: 8vw;

main {
	width: 100%;
	height: 100vh;
	background: #111;
	position: relative;
	overflow: hidden;

	header {
		width: 90vw;
		top: 5vh;
		left: 5vw;
		position: absolute;
		z-index: 3;
		display: flex;
		justify-content: space-between;

		h1 {
			font: bold 20px/1 'orbitron';
			color: #fff;
			letter-spacing: 2px;
		}

		nav {
			display: flex;
			gap: 100px;

			ul {
				display: flex;
				gap: 30px;
				font: 12px/1 'orbitron';
				color: #fff;
				letter-spacing: 2px;
				opacity: 1;

				&.sns {
					font-size: 18px;
					opacity: 0.8;
				}
			}
		}
	}

	.notice {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font: 8vw/1 'teko';
		color: #222;
	}

	.list {
		li {
			width: $wid;
			height: $ht;
			position: fixed;
			top: 40%;
			transition: 1s;
			transition-timing-function: cubic-bezier(0.89, -0.01, 0.28, 1.02);
			z-index: 2;
			padding: 15px;
			opacity: 1;
			transform: scale(1);

			.inner {
				width: 100%;
				height: 100%;
				border-radius: 15px;
				box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
				overflow: hidden;
				transition: 1s;
				position: relative;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					filter: brightness(1);
					transition: 1s;
				}

				.txtActive {
					position: absolute;
					width: 35%;
					top: 35%;
					left: 5vw;
					opacity: 1;
					padding-right: 30px;

					h2 {
						span {
							display: inline-block;
							font: bold 16px/1 'arial';
							color: #ccc;
							margin-bottom: 10px;
							transition: all 0.5s 0s;
							opacity: 0;
							transform: translateX(-50px);
						}

						&::before {
							content: '';
							display: block;
							width: 0px;
							height: 4px;
							background: #fff;
							margin-bottom: 15px;
							transition: width 0.5s 0s;
						}
					}

					.upper,
					.lower {
						width: 1000px;
						height: $fontSize;
						overflow: hidden;
						position: relative;
						font-size: 0;

						p {
							font-size: $fontSize;
							color: #fff;
							position: absolute;
							bottom: -$fontSize;
							left: 0px;
							opacity: 0;
							font-family: 'teko';
							line-height: 1;
						}
					}
					.lower {
						transform: translateY(-20px);
					}
					.upper p {
						transition: bottom 0.5s 1s, opacity 0.5s;
					}
					.lower p {
						transition: bottom 0.5s 1.2s, opacity 0.5s;
					}
					.desc {
						font: 14px/1.4 'arial';
						color: #bbb;
						opacity: 0.5;
						margin-bottom: 40px;
						opacity: 0;
						transform: translateY(100px);
						transition: all 0.5s 0s;
					}
					nav {
						width: 240px;
						display: flex;
						justify-content: space-between;
						opacity: 0;
						transform: translateY(100px);
						transition: all 0.5s 0s;

						p {
							width: 36px;
							height: 36px;
							background: orange;
							font-size: 10px;
							border-radius: 50%;
							display: flex;
							justify-content: center;
							align-items: center;
							.fa-bookmark {
								font-size: 14px;
								color: #fff;
							}
						}

						button {
							width: 180px;
							height: 36px;
							border: 1px solid #aaa;
							background: transparent;
							border-radius: 18px;
							display: flex;
							justify-content: center;
							align-items: center;
							font: 11px/1 'arial';
							color: #fff;

							cursor: pointer;
						}
					}
				}

				.txtThumb {
					width: 80%;
					position: absolute;
					bottom: 40px;
					left: 10%;
					opacity: 1;
					transition: all 1s 1s;

					p {
						font: 30px/1 'teko';
						color: #fff;
						transform: scaleY(1.2);
					}
				}
			}
		}

		//리스트 순서별 모양
		li {
			&:nth-of-type(1) {
				left: 0;
				width: 100%;
				height: 100%;
				padding: 0px;
				top: 0;
				opacity: 0;
				z-index: 1;
				transform: scale(2);
				transition: all 1s 1s, transform 2.5s 0s;

				.inner {
					box-shadow: none;
					border-radius: 0px;
				}
			}

			&:nth-of-type(2) {
				left: 0;
				width: 100%;
				height: 100%;
				padding: 0px;
				opacity: 1;
				top: 0;
				z-index: 2;

				.inner {
					box-shadow: none;
					border-radius: 0px;
				}
			}
			&:nth-of-type(3) {
				left: calc($initPos + $wid * 0);
				transition-delay: 0s;
			}
			&:nth-of-type(4) {
				left: calc($initPos + $wid * 1);
				transition-delay: 0.1s;
			}
			&:nth-of-type(5) {
				left: calc($initPos + $wid * 2);
				transition-delay: 0.2s;
			}
			&:nth-of-type(6) {
				left: calc($initPos + $wid * 3);
				transition-delay: 0.3s;
			}
			&:nth-of-type(7) {
				left: calc($initPos + $wid * 4);
				transition-delay: 0.4s;
			}
			&:nth-of-type(8) {
				left: calc($initPos + $wid * 5);
				transition-delay: 0.5s;
			}
		}

		//패널 활성화 모션
		li.on {
			.inner {
				img {
					filter: brightness(0.5);
				}
				.txtActive {
					h2 {
						span {
							opacity: 1;
							transform: translateX(0px);
							transition: all 0.5s 1.4s;
						}

						&::before {
							width: 50px;
							transition: all 0.5s 1.1s;
						}
					}
					.upper,
					.lower {
						p {
							bottom: 0px;
							opacity: 1;
						}
					}

					.desc {
						opacity: 1;
						transform: translateY(0px);
						transition: all 0.5s 1.3s;
					}
					nav {
						opacity: 1;
						transform: translateY(0px);
						transition: all 0.5s 1.4s;
					}
				}
				.txtThumb {
					bottom: -100px;
					opacity: 0;
					transition: all 1s 0s;
				}
			}
		}
	}

	.navi {
		width: calc(60% - 60px);
		position: absolute;
		left: 40%;
		top: calc(40% + 40vh + 20px);
		z-index: 3;
		padding-left: 20px;

		//좌우버튼 공통 스타일 (호버포하)
		.prev,
		.next {
			display: inline-block;
			width: 70px;
			height: 70px;
			border: 1px solid #bbb;
			border-radius: 50%;
			position: relative;
			cursor: pointer;
			margin-right: 20px;

			&::before,
			&::after {
				content: '';
				display: block;
				width: 17px;
				height: 2px;
				background: #fff;
				position: absolute;
			}
			&::before {
				top: 49%;
				transform: rotate(45deg) translateX(0px);
			}
			&::after {
				bottom: 49%;
				transform: rotate(-45deg) translateX(0px);
			}
			span {
				width: 20px;
				height: 2px;
				background: #fff;
				position: absolute;
				top: 49%;
				opacity: 1;
			}

			&.on {
				animation: wrap 0.3s 1;
			}
		}

		//좌우버튼 방향에따른 스타일 변경 (호버포함)
		.prev {
			&::before,
			&::after {
				left: 25px;
				transform-origin: left center;
			}
			span {
				left: 25px;
			}
			&.on {
				span {
					animation: middlePrev 0.5s 1;
				}
			}
		}
		.next {
			&::before,
			&::after {
				right: 25px;
				transform-origin: right center;
			}
			span {
				right: 25px;
			}
			&.on {
				span {
					animation: middleNext 0.5s 1;
				}
			}
		}

		.bar {
			width: calc(100% - 350px);
			height: 4px;
			border-radius: 2px;
			overflow: hidden;
			background: rgba(255, 255, 255, 0.2);
			position: absolute;
			bottom: 50%;
			left: 250px;

			&::after {
				content: '';
				display: block;
				width: calc(100% / 8);
				height: 100%;
				border-radius: 2px;
				background: orange;
				position: absolute;
				top: 0;
				left: 0;
				transition: 0.5s cubic-bezier(0.69, -1.07, 0.38, 1.98);
			}

			@for $i from 1 through 8 {
				&.move#{$i} {
					&::after {
						width: calc(100% / 8 * $i);
					}
				}
			}
		}

		h3 {
			position: absolute;
			top: 0;
			right: 0;
			font: normal 80px/1 'teko';
			color: #fff;
			opacity: 0.5;

			&.on {
				animation: counter 0.5s ease 1;
			}
		}
	}
}

@keyframes wrap {
	0% {
		transform: scale(1);
		border: 1px solid rgba(255, 255, 255, 1);
	}
	70% {
		transform: scale(2);
		border: 1px solid rgba(255, 255, 255, 0);
	}
	100% {
		transform: scale(1);
		border: 1px solid rgba(255, 255, 255, 1);
	}
}

@keyframes middleNext {
	0% {
		right: 25px;
		witth: 20px;
		opacity: 1;
	}
	70% {
		right: -30px;
		width: 50px;
		opacity: 0;
	}
	71% {
		right: 100px;
		width: 120px;
		opacity: 0;
	}
	100% {
		right: 25px;
		width: 20px;
		opacity: 1;
	}
}
@keyframes middlePrev {
	0% {
		left: 25px;
		witth: 20px;
		opacity: 1;
	}
	70% {
		left: -30px;
		width: 50px;
		opacity: 0;
	}
	71% {
		left: 100px;
		width: 120px;
		opacity: 0;
	}
	100% {
		left: 25px;
		width: 20px;
		opacity: 1;
	}
}

@keyframes counter {
	0% {
		transform: scale(1);
		opacity: 0.5;
	}
	50% {
		transform: scale(1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0.5;
	}
}

@media screen and (max-width: 1279px) {
	main {
		.list li .inner {
			border-radius: 10px;

			.txtThumb {
				bottom: 30px;
				p {
					font-size: 20px;
				}
			}
		}

		.navi {
			transform-origin: right top;
			transform: scale(0.8);
		}
	}
}

@media screen and (max-width: 979px) {
	$initPos: 45%;
	$wid: 20vw;

	main {
		header {
			.gnb {
				display: none;
			}
		}
		.list li {
			width: $wid;
			&:nth-of-type(3) {
				left: calc($initPos + $wid * 0);
				transition-delay: 0s;
			}
			&:nth-of-type(4) {
				left: calc($initPos + $wid * 1);
				transition-delay: 0.1s;
			}
			&:nth-of-type(5) {
				left: calc($initPos + $wid * 2);
				transition-delay: 0.2s;
			}
			&:nth-of-type(6) {
				left: calc($initPos + $wid * 3);
				transition-delay: 0.3s;
			}
			&:nth-of-type(7) {
				left: calc($initPos + $wid * 4);
				transition-delay: 0.4s;
			}
			&:nth-of-type(8) {
				left: calc($initPos + $wid * 5);
				transition-delay: 0.5s;
			}
		}

		.navi {
			transform-origin: right top;
			transform: scale(0.5);
		}
	}
}

@media screen and (max-width: 739px) {
	$initPos: 45%;
	$wid: 30vw;

	main {
		.list li {
			width: $wid;
			&:nth-of-type(3) {
				left: calc($initPos + $wid * 0);
				transition-delay: 0s;
			}
			&:nth-of-type(4) {
				left: calc($initPos + $wid * 1);
				transition-delay: 0.1s;
			}
			&:nth-of-type(5) {
				left: calc($initPos + $wid * 2);
				transition-delay: 0.2s;
			}
			&:nth-of-type(6) {
				left: calc($initPos + $wid * 3);
				transition-delay: 0.3s;
			}
			&:nth-of-type(7) {
				left: calc($initPos + $wid * 4);
				transition-delay: 0.4s;
			}
			&:nth-of-type(8) {
				left: calc($initPos + $wid * 5);
				transition-delay: 0.5s;
			}
		}

		.list li.on {
			.inner {
				.txtActive {
					.lower {
						transform: translateY(0px);
					}
					.desc {
						display: none;
					}

					nav {
						justify-content: flex-start;
						margin-top: 20px;
						button {
							width: 120px;
							margin-left: 20px;
						}
					}
				}
			}
		}

		.navi {
			transform-origin: right top;
			transform: scale(0.8);
		}
	}
}

@media screen and (max-width: 539px) {
	$initPos: 20px;
	$wid: 50vw;

	main {
		header h1 {
			padding-left: 20px;
		}
		//리스트 순서에 따른 모양
		.list li {
			width: $wid;
			height: 200px;
			top: 60%;
			&:nth-of-type(3) {
				left: calc($initPos + $wid * 0);
				transition-delay: 0s;
			}
			&:nth-of-type(4) {
				left: calc($initPos + $wid * 1);
				transition-delay: 0.1s;
			}
			&:nth-of-type(5) {
				left: calc($initPos + $wid * 2);
				transition-delay: 0.2s;
			}
			&:nth-of-type(6) {
				left: calc($initPos + $wid * 3);
				transition-delay: 0.3s;
			}
			&:nth-of-type(7) {
				left: calc($initPos + $wid * 4);
				transition-delay: 0.4s;
			}
			&:nth-of-type(8) {
				left: calc($initPos + $wid * 5);
				transition-delay: 0.5s;
			}
		}

		.list li {
			.inner {
				.txtActive {
					top: 15%;
					left: 40px;
					.upper,
					.lower {
						height: 20vw;
						transform: translateY(0px);

						p {
							font-size: 20vw;
							bottom: -20vw;
						}
					}
				}
			}
		}

		.list li.on {
			.inner {
				.txtActive {
					.lower {
						transform: translateY(-10px);
					}
					.desc {
						display: none;
					}

					nav {
						justify-content: flex-start;
						margin-top: 10px;
						p {
							display: none;
						}
						button {
							width: 120px;
							margin-left: 0px;
						}
					}
				}
			}
		}

		.navi {
			width: 80%;
			left: 10%;
			top: auto;
			bottom: 30px;
			transform-origin: right top;
			transform: scale(0.6);
		}
	}
}
